In [14]:
# see https://www.w3schools.com/r/r_data_frames.asp
print("Hello World!")

[1] "Hello World!"

In [21]:
# create+print data frame
df1 <- data.frame(
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)
df1

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45

In [16]:
# summarize data
summary(df1)

   Training             Pulse          Duration
 Length:3           Min.   :100.0   Min.   :30.0
 Class :character   1st Qu.:110.0   1st Qu.:37.5
 Mode  :character   Median :120.0   Median :45.0
                    Mean   :123.3   Mean   :45.0
                    3rd Qu.:135.0   3rd Qu.:52.5
                    Max.   :150.0   Max.   :60.0

In [ ]:
# access items
df1[1]
df1[["Training"]]
df1$Training

In [17]:
# add+print a new row
df_row1 <- rbind(df1, c("Strength", 110, 110))
df_row1

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45
4 Strength 110   110

In [22]:
# add+print a new column
df_col1 <- cbind(df1, Steps = c(1000, 6000, 2000))
df_col1

  Training Pulse Duration Steps
1 Strength 100   60       1000
2 Stamina  150   30       6000
3 Other    120   45       2000

In [23]:
# remove first row+column
df_new <- df1[-c(1), -c(1)]
df_new

  Pulse Duration
2 150   30
3 120   45

In [20]:
# show amount+number of rows+cols
dim(df1)
ncol(df1)
nrow(df1)
length(df1)

[1] 3 3

[1] 3

[1] 3

[1] 3

In [ ]:
# combine data frames
df2 <- data.frame(
  Training = c("Stamina", "Stamina", "Strength"),
  Pulse = c(140, 150, 160),
  Duration = c(30, 30, 20)
)
df2 <- rbind(df1, df2)
df2

In [ ]:
# combine frames horizontally
df3 <- data.frame(
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)
df4 <- data.frame(
  Steps = c(3000, 6000, 2000),
  Calories = c(300, 400, 300)
)
df5 <- cbind(df3, df4)
df5